/* LAYOUT STYLES */
body {
}

header {
    padding: 0px 10px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    text-align: center;
    background: #3b3a36;
    margin-bottom: 40px;
}

header h1 {
    letter-spacing: -1px;
    font-size: 72px;
    color: #ed1e24;
    margin: 0px;
    padding: 0px 20px;
}

header small {
    font-size: 32px;
    color: white;
}

section.search {
    text-align: center;
}

footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

.main-content {
    background: white;
    min-width: 600px;
}
